@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

h1 {
    font-family: 'NanumSquare','Noto Sans KR', sans-serif;
    font-weight: bold;

    text-align: center;
}
.d-inline-block{
    padding-inline-end: 5px;
    margin-bottom: 10px;
}

/* Detail.jsx */
div.ant-page-header {
    background-color: #fafafa;
}

input.ant-input:focus {
    font-size: inherit !important;
    height: inherit !important;
}

/* Create.jsx */
.create-input {
    width: 300px;
}

/* Client.jsx */
.site-input-group-wrapper .site-input-split {
    background-color: #fff !important;
}

.site-input-group-wrapper .site-input-right {
    border-left-width: 0;
}

.site-input-group-wrapper .site-input-right:hover,
.site-input-group-wrapper .site-input-right:focus {
    border-left-width: 1px;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right {
    border-right-width: 0;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
.site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
    border-right-width: 1px;
}
[data-theme="dark"] .site-input-group-wrapper .site-input-split {
    background-color: transparent;
}

/* Contract.jsx */
.ant-select {
    align-content : space-around;
    justify-content: space-around;
}
