@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*@import '~antd/dist/antd.css';*/

h1 {
    font-family: 'NanumSquare','Noto Sans KR', sans-serif;
    font-weight: bold;
    text-align: center;
}
.d-inline-block{
    padding-inline-end: 5px;
    margin-bottom: 10px;
}

/* Detail.jsx */
div.ant-page-header {
    background-color: #fafafa;
}

input.ant-input:focus {
    font-size: inherit !important;
    height: inherit !important;
    /*width: inherit !important; 주의: 이거 때문에 포커스 되면 크기 조정됨 */

}
/* Create.jsx 이거 되려면 위에 antd.css import 해야함*/
.create-input {
    width: 300px;
}

/* Client.jsx */
.site-input-group-wrapper .site-input-split {
    background-color: #fff !important;
}

.site-input-group-wrapper .site-input-right {
    border-left-width: 0;
}

.site-input-group-wrapper .site-input-right:hover,
.site-input-group-wrapper .site-input-right:focus {
    border-left-width: 1px;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right {
    border-right-width: 0;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
.site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
    border-right-width: 1px;
}
[data-theme="dark"] .site-input-group-wrapper .site-input-split {
    background-color: transparent;
}